@import "../../constants/colors.scss";

.container {
    background-color: $white;
}

.servicesBox {
    background-color: $lightestGrey;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    height: 120px;
    align-items: center;
    width: 70%;
}

.head1 {
    text-align: center;
    margin-bottom: 5px;
}

.borderLine {
    border-bottom: 3px solid $headBoderLineColor;
    width: 130px;
    margin: 0 auto;
    margin-bottom: 13px;
}

.newArrivalSection {
    margin-top: 90px;
    background-color: $sectionCrolor;
    padding: 20px;
}

.footerSection {
    margin-top: 45px;
    padding: 0 20px;
}