@import "../../constants/colors.scss";

.image {
    width: 100%;
}

.categoryName {
  font-size: 18px;
  color: $white;
  margin-bottom: 10px;
  background-color: $headBoderLineColor;
  width: max-content;
  padding: 5px 12px;
  border-radius: 5px;
}

.productName {
  font-size: 19px;
  margin-bottom: 10px;
}

.price {
  font-size: 21px;
  color: $grey;
  margin-right: 20px;
}

.counterBox {
  display: flex;
  align-items: center;
}

.counterContainer {
  margin-right: 20px;
}

.btnBox {
  width: 150px;
}

.borderLine1 {
  border-bottom: 1px solid $grey;
  margin-top: 20px;
}
.info {
  margin-top: 40px;
}

.checkMarks {
  display: flex;
  margin-top: 5px;
}

.text {
  margin-left: 10px;
  color: $green
}

.priceBox {
  display: flex;
  margin-bottom: 20px;
}

.productAbout {
  margin-bottom: 20px;
  color: $grey;
}

.reviewSection {
    margin-top: 90px;
}