@import "../../constants/colors.scss";

.container {
    background-color: $blue;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.text {
    color: $white;
    font-size: 19px;
}