@import "../../constants/colors.scss";

.container {
    padding: 35px;
    display: flex;
    margin-top: 60px;
}

.leftContainer {
    width: 180px;
    position: relative;
}

.heading {
    font-size: 23px;
}

.rightContainer {
    background-color: $lightestGrey;
    flex: 1;
    padding: 20px;
}

@media only screen and (max-width: 740px) {
    .container {
        flex-direction: column;
    }

    .leftContainer {
        width: 100%;
    }
}