$lightestGrey: #e2e7e84d;
$white: #ffffff;
$blue: #3742fa;
$gradientBg: linear-gradient(to right, #e0c3fc, #8ec5fc);
$headBoderLineColor: #ff6348;
$sectionCrolor: #fef7f5;
$black: #000000;
$grey: #808080;
$green: #05c46b;
$drawerGrey: #dfe4e5